.ui-widget {
    font-size: 12px !important;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}
.ui-button {

}

.ui-row-editor{
    display: inline !important;
}

.ui-row-editor:after {
    clear: none !important;
}
.ui-editable-column > div {
    float: left;
}
.ui-editable-column > button {
    float:right;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header {
    display: none !important;
}
